*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio
.vs/*
!.vs/AcessoCidadaoCore
.vs/AcessoCidadaoCore/*
!.vs/AcessoCidadaoCore/config
.vs/AcessoCidadaoCore/config/*
!.vs/AcessoCidadaoCore/config/applicationhost.config

node_modules/

appsettings.json

# SonarQube files
.sonarqube

#Test Files
coverage.*
coverage
*.trx

bundle.js
bundle.css

/Tests/UnitTests/Context/Certificados/ListaParaValidar/Expirados/*
!/Tests/UnitTests/Context/Certificados/ListaParaValidar/Expirados/cpf.pdf
/Tests/UnitTests/Context/Certificados/ListaParaValidar/Validos/*
!/Tests/UnitTests/Context/Certificados/ListaParaValidar/Validos/cpf.pdf
!/Tests/UnitTests/Context/Certificados/ListaParaValidar/Validos/teste.pdf
